@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


#cancelbtn{
    padding:15px 25px 15px 25px;
    background-color: rgb(105, 207, 134);
    border-radius:10px;
}


.cropsview{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    
}

.lbtn {
    font-family:'poppins',sans-serif ;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    background: #028305;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px ;
    transition: all 0.4s;
    border: none;
    margin-bottom: 50px;
    margin-top: 50px;
}
.elbtn{
    font-family:'poppins',sans-serif ;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    background: #028305;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px ;
    transition: all 0.4s;
    border: none;
}

.lbtn:hover{
    background: #333333;
}
.category{

    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    }
    
    .head{
        text-align: center;
        margin-bottom: 1rem;
    }
    .category button{
        
        margin: 1rem;
        padding:  0.5rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 25px;
        border: 1px solid black;
        background-color: rgb(31, 30, 30);
        color: aliceblue;
    }
    
    .category button:hover{
        background-color: whitesmoke;
        color: rgb(134, 204, 134);
    }

.cropbtn{
    border:1px solid rgb(3, 3, 3);
    margin:10px;
    padding:10px;
    border-radius:10px;
    background-color: 
    #79b749;
    box-shadow: 0 1px 20px 0 rgba(69, 90,100,0.08);
}

.cropimgbtn{
    width:255px;
    height:270px;
    border-radius:6px;
}





    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;

}
.p_bold {
    font-weight: bold;
    font-size: 30px;
}
.hfruit {
    text-align: center;
}

body {
    background: #f3f3f3;
}
.b_letters{
    font-weight: bold;
}
.hfruit{
        margin-bottom:1rem;
}
img {
    width: 100%;
}
.wrapper {
 
    
    
   
   background-color: white;
    
    margin:auto;
    margin-top:50px;
    
}
.box-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wrapper .left {
    width: 300px;
    height: 550px;
    background: #73bf44;
    
    
    align-items: center;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}
.wrapper .wleft{
    width: 100%;
    height: 350px;
    background: #73bf44;
    
    
    align-items: center;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}
.wrapper .wleft img {
    width: 100%;
    object-fit: cover;
}
    

.wrapper .left p {
    margin-bottom: 10px;
}
.wrapper .right {
    width: 100%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px;
    margin: auto;

}

.wrapper .right .finfo,
.wrapper .right .f_details {
    margin-bottom: 95px;
}

.wrapper .right .finfo h2,
.wrapper .right .f_details h2 {
    margin-bottom: 15px;
    
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.wrapper .right .info_data,
.wrapper .right .f_data{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    
    flex-wrap: wrap;
    margin-left: 100px;
} 

.wrapper .right .info_data .data,
.wrapper .right .f_data .data{
    width: 34%;
    background-color: fff;
    
    

}

.finfo .info_data .data p,
.f_details .f_data .data p {
    font-size: 25px;
}

.d_m {
    margin-bottom: 60px;
}

.f_details .f_data .l_m {
    margin-top: 50px;
    margin-bottom: 60px;
}