.cs_set{
    width:70%;
    margin:auto;
    display: flex;
    
    align-items: center;
    
    height: 750px;
    margin-top:3rem;
    
    box-shadow: 1px 2px 3px rgba(20, 20, 20, 0.1), 0 2px 2px rgb(0 0 0 / 6%),
      0 0 2px rgb(0 0 0 / 7%);
      border-radius:10px;
}

.cs_form {
    background-color: purple;
    width: 1083px;
    height: 100%;

}
.inner_form{
    padding: 3rem;
    background-color: white;
    height: 100%;
    width: 100%;
}

.green_bg{
    
    background-color: green;
    width: 260px;
    height: 100%;
    
    
}
.li_btn {
    margin-left: 145px;
    margin-top: 70px;
}
.slct_size {
    width: 300px;
}
.two_div{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.pet_down {
    margin-top: 50px;
}